/* font-family: 'Splash', cursive; */
/* font-family: 'Style Script', cursive; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
    background-image: radial-gradient(circle, #ffffff, #b1b1bc, #696969);
}
div{
    border:1px solid black;
    color:white  
}
#one{
    background:red;
    height:100px;
    text-align:center;
    font-size: 100px;
}
#two{
    background:green;
    width:300px;
    height:500px;
    float:left;
}
#three{
    background:yellow;
    height:400px;
    color:black;
    padding: 0px 0px 0px 50px
}
#four{
    background:pink
}
#container {
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
    width: 1000px;
    margin: 0 auto 0 auto; /* top right bottom left */    
}

nav {
    border-width: 1px;
    /* border-style: solid;
    border-color: black; */
    text-align: center;
    /* width: 280px; */
    padding: 10px 0px 30px 10px; /* top right bottom left */ 
    font-size: 60px; 
    font-family: 'Marck Script', cursive;   
}
p{
    text-align: center;
    padding: 20px 0px 30px 400px;
}
h1{
    text-align: center;
    font-size: 120px;
    font-family: 'Cormorant SC', serif;
    color: #000045;
    text-shadow: 2px 2px #0f396345;
}
a{
    width: 1200px;
    margin: 50px auto 0 auto;
    text-align: center;
}

#productDescription {
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
    text-align: center;
    width: 698px;
    padding: 0px 30px 0px 60px;

}

footer {
    clear: both;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
    padding: 600px 20px 20px 20px;
    text-align: center;
}

#candles {
    text-align: center;
    font-size: 30px;
    color: #431125;
    text-shadow: 2px 2px #7e4646;
}
li{
    list-style: none;
}

/* ul li  */
/* TODO: Understand this better */
/* #mainContent {
    background-color: #ff43a4;
    content: "";
    clear: both;
    display: table;
} */