/* font-family: 'Cormorant SC', serif;
font-family: 'Josefin Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    font-family: 'Cormorant SC', serif;
    background-color: white;
    background-size: initial;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    color: #b66b36;
}

h1:hover{
    color: black;
}
header {
    border-width: 1px;
    border-style: solid; 
    border-color: #3c2418; /* #3c2418 */
    background-color: #f6f7f9;
}

nav {
    border-bottom: 13px;
    border-style: solid;
    border-color: #3c2418; /* #3c2418 */
    padding: 30px 0 30px 50px;
    background-image: url(../pics/candles/bundle/homepageCandles.jpg);
}
/* 
nav ul {
    /* border-width: 5px;
    border-style: solid;
    border-color: green; */
    /* width: 500px; */
    /* float: left; */
/*}*/

nav #categories {
    width: 500px;
    float: left;
}

nav li a {
    margin: 0 0 0 0px;
    transition: margin-left 0.5s;
    background-color: #3c2418;
    color: white;
    padding: 20px;
}

nav li a:hover {
    color: #b66b36;
    margin: 0 0 0 30px;
}

nav li {
    margin: 5px 0 50px 70px;
    font-size: 30px;
}

ul {
    text-align: left;
}

#mainContent ul li {
    font-size: 35px;
    margin: 0 0 50px 50px;
    list-style-type: none;
    color: white;
    font-weight: bolder;
    text-shadow: 0 3px 0 3px;
}

#mainContent ul {
    margin: 100px 0 0 0;
}

#cartandsignin ul {
    /* text-align: right; */
    width: 300px;
    margin: 120px 0 0 2100px;
    /* border-width: 20px;
    border-style: solid;
    border-color: black; */
}

#cartandsignin ul li {
    font-size: 20px;
    list-style-type: none;
    /* border: 1px solid green; */
    /* display: inline; */
}

footer {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.productPictureAndName h3 {
    text-align: center;
}

nav ul li {
    list-style-type: none;
    
}

/* Margin is space around stuff */
#container {
    width: 2500px;
    margin: 0 auto 0 auto; /* Top, right, bottom, left */
}
/* #minicontainer {
    width: 20px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border: 5px;
    background-image: url(../pics/candles/singles/svitlana-6FFfvnvsJaQ-unsplash.jpg); */


#mainContent {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-image: url(../pics/candles/bundle/homepageCandles.jpg);
    /* background-size: contain; */
    background-position: 1200px;
    background-repeat: no-repeat;
    background-color: #bb8255;
    height: 1000px; 
}

#mainContent #mainContentListOfCategories {
    /* border: 1px solid white; */
    margin: 350px 0 0 0;
    width: 300px;
    float: left;
}

#mainContentListOfCategories li a {
    color: white;
    text-decoration: none;
}

#mainContentListOfCategories li a:hover{
    text-decoration: underline;
}

#productPicture {
    margin: 100px 0 0 90px;
    width: 500px;
    box-shadow: 3px 10px 8px #23170d;
    float: left;
}

#productDetails {
    color: black;
    border: 1px solid black;
    width: 800px;
    margin: 100px 0 0 1300px;
    line-height: 40px;
    font-size: 20px;
    padding: 20px;
}

#productDetails p {
    margin: 0 0 30px 0;
}

#productDetails ul {
    color: black;
    border-width: 2px;
    border-style: solid;
    /* text-align: right; */
    list-style-type:none;
}
/* #productdetails ul h2 {
    t
} */

#rowOfProducts {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0 auto 0 auto;
    width: 700px;
}

.productPictureAndName {
    float: left;
    margin: 0 0 0 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: #23170d;
    color: white;
    font-size: 25px;
}



}
/* body {
    background-color: pink;
    background-image: radial-gradient(circle, #ffffff, #b1b1bc, #696969);
}
div{
    border:1px solid black;
    color:white  
}
#one{
    background:red;
    height: 150px;
    text-align:right;
    font-size: 70px;
    width: 50%;
}
#two{
    background:yellow;
    width:200px;
    color:black;
    float:center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 1900px
}
#three{
    background:green;
    width:500px;
    height:900px;
    float:right;
}
#four{
    background:pink
}
#container {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 1000px;
    margin: 0 auto 0 auto; /* top right bottom left     
}

nav {
    border-width: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 280px;
    padding: 10px 0px 30px 10px; /* top right bottom left  
    font-size: 60px; 
    font-family: 'Marck Script', cursive;   
}
p{
    text-align: center;
    padding: 20px 0px 30px 400px;
} */

/* h1{
    text-align: center;
    font-size: 120px;
    font-family: 'Cormorant SC', serif;
    color: #000045;
    text-shadow: 2px 2px #0f396345;
}
a{
    width: 1200px;
    margin: 50px auto 0 auto;
    text-align: center;
    font-size: 40px;
}

#productDescription {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 698px;
    padding: 0px 30px 0px 60px;

}

footer {
    clear: both;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 600px 20px 20px 20px;
    text-align: center;
}

#candles {
    text-align: center;
    font-size: 30px;
    color: #431125;
    text-shadow: 2px 2px #7e4646;
}
li{
    list-style: none;
} 

/* ul li  */
/* TODO: Understand this better */
/* #mainContent {
    background-color: #ff43a4;
    content: "";
    clear: both;
    display: table;
} */